{% load static %}
<img src='{% static 'assets/images/Taller-DATI.png' %}' style="max-width: 98%; min-width: 98%; margin-bottom: 1%" alt="Baner dati">
<!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-taller" id="navbar-main">
        <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="">Taller</a>
        <!-- Form -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto" action="{% url 'equipo_result' %}" method="get">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                  <label>
                      <input class="form-control" placeholder="Ingresar N° Serie De Equipo" type="search" name="s">
                  </label>
                  <button type="submit" class="input-group-text"><i class="fas fa-search"></i></button>
                  </div>
            </div>
          </div>
        </form>
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="{% static 'assets/img/brand/programer2.svg' %}">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold text-white">
                    {{ request.user.username }}
                  </span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Bienvenido!</h6>
              </div>
              <!-- <a href="" class="dropdown-item">
                <i class="ni ni-single-02"></i>

              </a> -->

              <div class="dropdown-divider"></div>
               <a href="{% url 'logout' %}" class=" btn dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->

