{% load crispy_forms_tags %}
<div class="modal-dialog  modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-light">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Vamosa crear una nueva orden!</h6>
                <button type="button" class="close" onclick="cerrar_modal()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-dark">
                <div class="py-3 text-center">
                    <i class="fa fa-home fa-3x"></i>
                    <h4 class="heading mt-4 text-dark">Nueva Orden de servicio a domicilio!</h4>
                        <form class="" method="post" action="{% url 'domicilio_create' %}">{% csrf_token %}
                          <div class="form-row">
                               <div class="form-group col-10 text-left">
                                   {{ form.cliente | as_crispy_field }}
                               </div>
                                <div class="form-group col-10 text-left">
                                   {{ form.tecnico | as_crispy_field }}
                               </div>
                                <div class="form-group col-10 text-left">
                                   {{ form.motivo_servicio | as_crispy_field }}
                               </div>
                                 <div class="form-group col-10 text-left">
                                     <h2>Agregar Foto</h2>
                                     <input name="imagen" type="file" accept="image/*" capture="camera">
                                 </div>
                                <div class="form-group col-10 text-left">
                                   {{ form.observaciones | as_crispy_field }}
                               </div>

                           </div>

                            <div class="modal-footer">
                            <button type="submit" class="btn btn-white">Ok, Crear!</button>
                            <button type="button" class="btn btn-link text-white ml-auto" onclick="cerrar_modal()">Cerrar</button>
                            </div>
                        </form>
                </div>
            </div>

        </div>
</div>